%header
  = render "shared/admin/admin_menu"

.row-fluid
  .span2.menu-left
    = render "shared/admin/left_menu"
  .span8
    = yield
  .span2.sidebar
    = render "shared/admin/sidebar"

  .vertical-gap
