$navbarBackground: #aaa;
$navbarBackgroundHighlight: #fff;
$navbarText: #444;
$navbarLinkColor: #222;

$linkColor:             #000088;
$linkColorHover:        darken($linkColor, 15%);
$btnPrimaryBackground: #0088cc;

$darkBtnLinkColor: #fff;