.sidebar {
  padding-right: 25px;
}


@media (max-width: 480px) {
  .sidebar {
    padding-right: 25px;
  }
}


@media (max-width: 767px) {
  .sidebar {
    padding-right: 0px;
  }
}

// iPad Landscape
@media (min-width: 790px) {
  .sidebar {
    padding-right: 25px;
  }
}


@media (min-width: 980px) {
  .sidebar {
    padding-right: 25px;
  }
}