.well
  %h4 A64@Github
  %br/
  %ul.nav
    %li.gap-bottom= link_to "A64-Project", "https://github.com/iboard/a64", class: 'btn'
    %li= link_to "A64-Admin", "https://github.com/iboard/a64admin", class: 'btn'